/* https://piccalil.li/blog/a-modern-css-reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin, padding, and resets font sizes of headings */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* helps when you need to use all of a body's height */
html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.hide {
  display: none;
}

.error {
  color: red;
}

#gameBoard {
  background-color: hsl(0, 0%, 60%);
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
  box-shadow: 0 0 0 5px black;
  position: relative;
  display: grid;
  place-content: center;
}

#food {
  box-shadow: 0 0 0 2px black;
  position: absolute;
}

#snake {
  box-shadow: 0 0 0 2px black;
  position: absolute;
}

.game-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}

.controls:not(.hide) {
  display: grid;
  gap: 0.625rem;
}

.controls {
  margin-top: 2.5rem;
  place-items: center;
}
.controls .middle-row {
  display: grid;
  grid-auto-flow: column;
  gap: 0.625rem;
}
.controls .fake-button, .controls__button {
  box-shadow: 0 0 0 2.5px black;
  height: 45px;
  width: 45px;
  background-color: hsl(0, 0%, 60%);
  border: 0;
}
.controls__button {
  background-image: url("../../images/arrow.png");
  background-size: 27.5px;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}
.controls #button-up:hover,
.controls #button-right:hover,
.controls #button-down:hover,
.controls #button-left:hover {
  cursor: pointer;
}
.controls #button-down:hover {
  transform: scale(1.0315);
}
.controls #button-up {
  transform: rotate(180deg);
}
.controls #button-up:hover {
  transform: rotate(180deg) scale(1.0315);
}
.controls #button-right {
  transform: rotate(270deg);
}
.controls #button-right:hover {
  transform: rotate(270deg) scale(1.0315);
}
.controls #button-left {
  transform: rotate(90deg);
}
.controls #button-left:hover {
  transform: rotate(90deg) scale(1.0315);
}

.menu:not(.hide) {
  display: grid;
  gap: 1rem;
}

.menu {
  text-align: center;
  font-size: 1.5rem;
}
.menu__option {
  cursor: pointer;
  position: relative;
}
.menu__option:hover {
  transform: scale(1.15);
}

.settings-form:not(.hide) {
  display: grid;
  gap: 1rem;
}

.settings-form {
  font-size: 1.125rem;
}
.settings-form__input {
  display: grid;
  gap: 0.25rem;
}
.settings-form__input label.error {
  position: relative;
}
.settings-form__input label.error::before {
  position: absolute;
  content: "Invalid input";
  top: 25%;
  right: 0;
  font-size: 0.5em;
}
.settings-form__input .input-radio {
  margin: 0.25rem 0;
  display: flex;
  gap: 0.5rem;
}
.settings-form__input .input-radio label {
  position: relative;
  box-shadow: 0 0 0 2px black;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  background-color: white;
}
.settings-form__input .input-radio input[type=radio] {
  display: none;
}
.settings-form__input .input-radio input[type=radio]:checked + label {
  background-color: hsl(200, 100%, 65%);
}
.settings-form__input .input-growing {
  padding: 0.25rem 0.5rem;
  font-family: "Bungee", sans-serif;
  font-size: 1rem;
}
.settings-form__input .input-growing:focus {
  outline: none;
  border-color: hsl(200, 100%, 65%);
  box-shadow: 0 0 0 1.5px hsl(200, 100%, 65%);
}
.settings-form__input .input-color {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  width: 35px;
  height: 35px;
}
.settings-form__buttons {
  padding-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
  justify-content: space-evenly;
}
.settings-form__buttons .form-button {
  cursor: pointer;
  border: 0;
  padding: 0.25rem 0.5rem;
  border-radius: 12.5px;
  text-transform: uppercase;
  font-family: "Bungee", sans-serif;
  letter-spacing: 1px;
  box-shadow: 0 0 0 2px black;
}
.settings-form__buttons .form-button:hover {
  transform: scale(1.05);
}
.settings-form__buttons .form-apply-button {
  background-color: hsl(200, 100%, 65%);
}
.settings-form__buttons .form-cancel-button {
  background-color: white;
}

body {
  font-family: "Bungee", sans-serif;
  display: grid;
  place-content: center;
  overflow-y: hidden;
}/*# sourceMappingURL=main.css.map */