@media (max-width: 500px) {
  .game-title {
    font-size: 1.875rem;
    margin-bottom: 5rem;
  }
  .game-board {
    width: 324px;
    height: 324px;

    .game-menu {
      font-size: 1.125rem;
    }

    .settings-form:not(.hide) {
      display: -ms-grid;
      display: grid;
      gap: 0.5rem;
    }
    .settings-form {
      font-size: 0.875rem;

      .input-growing {
        padding: 0.125rem 0.25rem;
        font-family: $fontFamily;
        font-size: 0.75rem;
      }
      .input-color {
        width: 25px;
        height: 25px;
      }

      &__buttons {
        margin-top: 0.25rem;
      }
    }
  }
  .game-controls {
    margin-top: 1.75rem;

    .fake-button,
    .controls-button {
      height: 35px;
      width: 35px;
    }
    .controls-button {
      background-size: 22.5px;
    }
  }
}
