.game-menu:not(.hide) {
  display: grid;
  gap: 1rem;
}

.game-menu {
  text-align: center;
  font-size: 1.5rem;

  .menu-option {
    cursor: pointer;
    position: relative;

    &:hover {
      transform: scale(1.15);
    }
  }
}
