.game-menu:not(.hide) {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

.game-menu {
  text-align: center;
  font-size: 1.5rem;

  .menu-option {
    cursor: pointer;
    position: relative;

    &:hover,
    &:focus-visible {
      -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
      transform: scale(1.15);
    }
  }
}
