.hide {
  display: none;
}

#gameBoard {
  background-color: hsl(0, 0%, 60%);
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
  box-shadow: 0 0 0 5px black;
  position: relative;
  display: grid;
  place-content: center;
}

#food {
  box-shadow: 0 0 0 2px black;
  position: absolute;
  background-color: hsl(145, 25%, 45%);
}

#snake {
  box-shadow: 0 0 0 2px black;
  position: absolute;
  background-color: hsl(180, 25%, 45%);
}

.game-title {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 7.5vh;
  margin-bottom: 3.5rem;
}

.controls:not(.hide) {
  display: grid;
  gap: 0.625rem;
}

.controls {
  margin-top: 2.5rem;
  place-items: center;
}
.controls .middle-row {
  display: grid;
  grid-auto-flow: column;
  gap: 0.625rem;
}
.controls .fake-button, .controls__button {
  box-shadow: 0 0 0 2.5px black;
  height: 45px;
  width: 45px;
  background-color: hsl(0, 0%, 60%);
  border: 0;
}
.controls__button {
  background-image: url("../../images/arrow.png");
  background-size: 27.5px;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}
.controls #button-up:hover,
.controls #button-right:hover,
.controls #button-down:hover,
.controls #button-left:hover {
  cursor: pointer;
}
.controls #button-down:hover {
  transform: scale(1.0315);
}
.controls #button-up {
  transform: rotate(180deg);
}
.controls #button-up:hover {
  transform: rotate(180deg) scale(1.0315);
}
.controls #button-right {
  transform: rotate(270deg);
}
.controls #button-right:hover {
  transform: rotate(270deg) scale(1.0315);
}
.controls #button-left {
  transform: rotate(90deg);
}
.controls #button-left:hover {
  transform: rotate(90deg) scale(1.0315);
}

.menu {
  text-align: center;
  font-size: 1.5rem;
}
.menu__option {
  cursor: pointer;
  position: relative;
}
.menu__option:hover {
  transform: scale(1.15);
}

.settings-form:not(.hide) {
  display: grid;
  gap: 0.5rem;
}

.settings-form {
  font-size: 1.125rem;
}
.settings-form__input {
  display: grid;
  gap: 0.25rem;
}
.settings-form__input .input-radio {
  display: flex;
}
.settings-form__input .input-growing {
  padding: 0rem 0.5rem;
  font-family: "Bungee", sans-serif;
  font-size: 1rem;
}
.settings-form__input .input-growing:focus {
  outline: none;
  box-shadow: 0 0 0 2px hsl(200, 100%, 65%);
}
.settings-form__input .input-color {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  width: 35px;
  height: 35px;
}
.settings-form__buttons {
  padding-top: 1rem;
  display: flex;
  gap: 0.5rem;
  justify-content: space-evenly;
}
.settings-form__buttons .form-button {
  cursor: pointer;
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  text-transform: uppercase;
  font-family: "Bungee", sans-serif;
  letter-spacing: 1px;
  box-shadow: 0 0 0 2px black;
}
.settings-form__buttons .form-button:hover {
  transform: scale(1.05);
}
.settings-form__buttons .form-apply-button {
  background-color: hsl(200, 100%, 65%);
}
.settings-form__buttons .form-cancel-button {
  background-color: white;
}

body {
  font-family: "Bungee", sans-serif;
  display: grid;
  place-content: center;
  overflow-y: hidden;
}/*# sourceMappingURL=main.css.map */