@import "./attributes";
@import "./variables";
@import "./gameBoard";
@import "./food";
@import "./snake";
@import "./title";
@import "./controls";
@import "./menu";
@import "./settings";

body {
  font-family: $fontFamily;
  // min-height: 100vh;
  display: grid;
  place-content: center;
  overflow-y: hidden;
}
